<% provide(:title, 'Contact') %>
<h1>Sample App</h1>
<p>
  This is the Contact for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
  Contact me on GITHUB : github.com/mnafian
</p>